<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atualizar Funcionário</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/editarForm.css" />
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Bahnschrift:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<main class="container">
    <h1>Editar Funcionário</h1>

    <a href="/funcionario/listar" class="link">Voltar para a lista de funcionários</a><br />

    <form action="/funcionario/editar" method="post">
        <input type="hidden" name="id" th:value="${funcionario.id}" />
        <label>Nome:</label>
        <input type="text" name="nome" th:value="${funcionario.nome}" class="campo"/>
        <label>CPF:</label>
        <input type="text" name="cpf" th:value="${funcionario.cpf}" class="campo"/>
        <label>Identificador:</label>
        <input type="text" name="identificador" th:value="${funcionario.identificador}" class="campo"/>
        <div class="container-action">
            <input type="submit" value="Salvar" class="btn btnSalvar" />
            <p><a href="/funcionario/listar" class="btn btnCancelar">Cancelar</a></p>
        </div>
    </form>
</main>

</body>
</html>