<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atualizar Funcionário</title>
</head>
<body>

<h1>Editar Funcionário</h1>

<a href="/funcionario/listar">Voltar para a lista de funcionários</a><br />

<form action="/funcionario/editar" method="post">
    <input type="hidden" name="id" th:value="${funcionario.id}" /><br />
    <label>Nome:</label><br/>
    <input type="text" name="nome" th:value="${funcionario.nome}" /><br /><br />
    <label>CPF:</label><br/>
    <input type="text" name="cpf" th:value="${funcionario.cpf}" /><br /><br />
    <label>Identificador:</label><br/>
    <input type="text" name="identificador" th:value="${funcionario.identificador}" /><br /><br />
    <input type="submit" value="Salvar" />
</form>

</body>
</html>