body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f0f0;
}

main {
    padding: 2rem;
    text-align: center;
}

.container-txt{
    margin: 5rem 0 5rem 0;
}

h1 {
    font-size: 45px;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

.btnEntrar {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #4a90e2;
    color: #f5f5f5;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Bahnschrift', sans-serif;
    font-weight: bold;
}

.btnEntrar:hover {
    background-color: #000000;
}
