<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listar clientes</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/listar.css" />
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Bahnschrift:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sair da conta" class="btnSair"/>
    </form>
</header>

<main class="container">
    <h1>Clientes</h1>

    <div class="container-link">
        <p><a href="/start" class="link">Voltar a tela inicial</a></p>
    </div>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Contato</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nome}"></td>
                <td th:text="${cliente.cpf}"></td>
                <td th:text="${cliente.descricaoContato}"></td>
                <td>
                    <a th:href="@{/cliente/editar/{id}(id=${cliente.id})}" class="btn btnEdit">Editar</a>
                    <a th:href="@{/cliente/excluir/{id}(id=${cliente.id})}" class="btn btnDelete">Excluir</a>
                    <a th:href="@{/contato/listar/{id}(id=${cliente.id})}" class="link">Ver Contatos</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="container-link">
        <p><a href="/cliente/novo" class="link">+ Novo cliente</a></p>
    </div>
</main>
</body>
</html>
