<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listar clientes</title>
    <link rel="stylesheet" href="/estilos.css" />
</head>
<body>

<h1>Clientes</h1>

<p><a href="/">Inicial</a></p>

<table border="1">
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Contato</th>
    </thead>
    <tbody>
     <tr th:each="cliente : ${clientes}">
         <td th:text="${cliente.id}"></td>
         <td th:text="${cliente.nome}"></td>
         <td th:text="${cliente.cpf}"></td>
         <td><a th:href="@{/cliente/editar/{id}(id=${cliente.id})}">Editar</a></td>
         <td><a th:href="@{/cliente/excluir/{id}(id=${cliente.id})}">Excluir</a></td>
     </tr>
    </tbody>
</table>

<p><a href="/cliente/novo">Novo cliente</a></p>

</body>
</html>