<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Atualizar Grupo</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/editarForm.css" />
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Bahnschrift:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<main  class="container">
    <h1>Editar Grupo</h1>

    <a href="/grupo/listar" class="link">Voltar para a lista de grupos</a>

    <form action="/grupo/editar" method="post">
      <input type="hidden" name="id" th:value="${grupo.id}" />
      <label>Nome:</label><br/>
      <input type="text" name="nome" th:value="${grupo.nome}" class="campo"/>
        <div class="container-action">
            <input type="submit" value="Salvar" class="btn btnSalvar" />
            <p><a href="/grupo/listar" class="btn btnCancelar">Cancelar</a></p>
        </div>
    </form>
</main>

</body>
</html>