<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listar grupos</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/listar.css" />
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Bahnschrift:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sair da conta" class="btnSair"/>
    </form>
</header>
<main class="container">
    <h1>Grupos</h1>

    <div class="container-link">
        <p><a href="/start" class="link">Voltar a tela inicial</a></p>
    </div>

    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="grupo : ${grupos}">
                <td th:text="${grupo.id}"></td>
                <td th:text="${grupo.nome}"></td>
                <td>
                    <a th:href="@{/grupo/editar/{id}(id=${grupo.id})}" class="btn btnEdit">Editar</a>
                    <a th:href="@{/grupo/excluir/{id}(id=${grupo.id})}" class="btn btnDelete">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="container-link">
        <p><a href="/grupo/novo" class="link">+ Novo grupo</a></p>
    </div>
</main>

</body>
</html>