<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <base href="/">
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
<main>
    <div class="container-main">
        <div class="container-txt">
            <h1>Bem-vindo ao Gestão Web!</h1>
            <p>Ao gerenciamento automatizado para o seu hipermercado</p>
        </div>

        <p><a href="/start" class="btnEntrar">entrar</a></p>
    </div>
</main>

</body>
</html>