<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criando um Novo Aluno</title>
</head>
<body>

<h1>Novo Aluno</h1>

<form action="/aluno/novo" method="post">
    <label>Nome: </label><br />
    <input type="text" name="nome" /><br />
    <label>Endereço: </label><br />
    <input type="text" name="endereco" /><br />
    <label>Matrícula: </label><br />
    <input type="text" name="matricula" /><br />
    <label>CPF: </label><br />
    <input type="text" name="cpf" /><br />
    <label>Data de nascimento: </label><br />
    <input type="text" name="nascimento" /><br /><br />
    <input type="submit" value="Salvar" />
</form>

</body>
</html>