<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de produtos</title>
</head>
<body>

<header>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sair da conta"/>
    </form>

<!--    <form action="/produto/pesquisar" method="post">-->
<!--        <input type="text" name="nome" placeholder="Nome do produto">-->
<!--        <input type="submit" value="Pesquisar">-->
<!--    </form>-->
</header>

<h1>Produtos</h1>

<p><a href="/">Inicial</a></p>

<table border="1">
    <thead>
    <th>Id</th>
    <th>Descrição</th>
    <th>Preço</th>
    <th>Quantidade</th>
    <th>Código de barras</th>
    <th>Marca</th>
    <th>Grupo</th>
    </thead>
    <tbody>
        <tr th:each="produto : ${produtos}">
            <td th:text="${produto.id}"></td>
            <td th:text="${produto.descricao}"></td>
            <td th:text="${produto.preco}"></td>
            <td th:text="${produto.quantidade}"></td>
            <td th:text="${produto.codBarras}"></td>
            <td th:text="${produto.idMarca}"></td>
            <td th:text="${produto.idGrupo}"></td>
            <td><a th:href="@{/produto/editar/{id}(id=${produto.id})}">Editar</a></td>
            <td><a th:href="@{/produto/excluir/{id}(id=${produto.id})}">Excluir</a></td>
        </tr>
    </tbody>
</table>

<p><a href="/produto/novo">Novo produto</a></p>

</body>
</html>