<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Novo Produto</title>
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/novoForm.css">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Bahnschrift:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<main class="container">
    <h1>Novo Produto</h1>

    <form action="#" th:action="@{/produto/novo}" th:object="${produto}" method="post">
        <label>Descrição:</label>
        <input type="text" th:field="*{descricao}" class="campo"/>
        <label>Preço:</label>
        <input type="text" th:field="*{preco}" class="campo"/>
        <label>Quantidade:</label>
        <input type="text" th:field="*{quantidade}" class="campo"/>
        <label>Código de barras:</label><br/>
        <input type="text" th:field="*{codBarras}" class="campo"/>
        <label>Marca:</label>
        <select th:field="*{idMarca}" class="campo">
            <option th:each="marca: ${marcas}"
                    th:value="${marca.id}"
                    th:text="${marca.nome}">
            </option>
        </select>
        <label>Grupo:</label>
        <select th:field="*{idGrupo}" class="campo">
            <option th:each="grupo: ${grupos}"
                    th:value="${grupo.id}"
                    th:text="${grupo.nome}">
        </select>
        <div class="container-action">
            <input type="submit" value="Salvar" class="btn btnSalvar"/>
            <p><a href="/produto/listar" class="btn btnCancelar">Cancelar</a></p>
        </div>
    </form>
</main>
</body>
</html>