<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atualizar Marca</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/editarForm.css" />
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Bahnschrift:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<main  class="container">
    <h1>Editar Marca</h1>

    <a href="/marca/listar" class="link">Voltar para a lista de marcas</a>

    <form action="/marca/editar" method="post">
        <input type="hidden" name="id" th:value="${marca.id}" />
        <label>Nome:</label>
        <input type="text" name="nome" th:value="${marca.nome}" class="campo"/>
        <div class="container-action">
            <input type="submit" value="Salvar" class="btn btnSalvar" />
            <p><a href="/marca/listar" class="btn btnCancelar">Cancelar</a></p>
        </div>
    </form>
</main>

</body>
</html>