<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atualizar Marca</title>
</head>
<body>

<header>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sair da conta"/>
    </form>
</header>

<h1>Editar Marca</h1>

<a href="/marca/listar">Voltar para a lista de marcas</a><br /><br />

<form action="/marca/editar" method="post">
    <input type="hidden" name="id" th:value="${marca.id}" />
    <label>Nome:</label><br/>
    <input type="text" name="nome" th:value="${marca.nome}" /><br /><br />
    <input type="submit" value="Salvar" />
</form>

</body>
</html>