<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listar de marcas</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/listar.css" />
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Bahnschrift:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sair da conta" class="btnSair"/>
    </form>
</header>

<main class="container">
    <h1>Marcas</h1>

    <div class="container-link">
        <p><a href="/start" class="link">Voltar a tela inicial</a></p>
    </div>

    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="marca : ${marcas}">
            <td th:text="${marca.id}"></td>
            <td th:text="${marca.nome}"></td>
            <td>
                <a th:href="@{/marca/editar/{id}(id=${marca.id})}" class="btn btnEdit">Editar</a>
                <a th:href="@{/marca/excluir/{id}(id=${marca.id})}" class="btn btnDelete">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="container-link">
        <p><a href="/marca/novo" class="link">+ Nova marca</a></p>
    </div>
</main>
</body>
</html>