<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nova Marca</title>
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/novoForm.css">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Bahnschrift:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<main class="container">
    <h1>Nova Marca</h1>

    <a href="/marca/listar" class="link">Voltar para a lista de marcas</a>

    <form action="#" th:action="@{/marca/novo}" th:object="${marca}" method="post">
        <label>Nome:</label>
        <input type="text" th:field="*{nome}" class="campo"/>
        <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
        <div class="container-action">
            <input type="submit" value="Salvar" class="btn btnSalvar"/>
            <p><a href="/marca/listar" class="btn btnCancelar">Cancelar</a></p>
        </div>
    </form>
</main>

</body>
</html>