<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Contato</title>
</head>
<body>

<h1>Editar Contato</h1>

<p><a href="/">Inicial</a></p>

<form action="/contato/editar"  method="post">
    <input type="hidden" name="id" th:value="${contato.id}" />
    <label>Descrição</label><br />
    <input type="text" name="descricao" th:value="${contato.descricao}" /><br /><br />
    <label>Tipo</label><br />
    <select name="tipo" th:value="${contato.tipo}" >
        <option value="Telefone">Telefone</option>
        <option value="E-mail">E-mail</option>
        <option value="Endereço">Endereço</option>
    </select><br /><br/>
    <label for="cliente">Cliente:</label>
    <select id="cliente" name="idCliente" required>
        <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nome}"></option>
    </select>
    <input type="submit" value="Salvar" />
</form>

<p><a href="/contato/listar">Voltar</a></p>

</body>
</html>