<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contatos de cliente</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/listar.css" />
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&family=Bahnschrift:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sair da conta" class="btnSair"/>
    </form>
</header>

<main class="container">
    <h1>Contatos de <span th:text="${cliente.nome}"></span></h1>

    <div class="container-link">
        <p><a href="/cliente/listar" class="link">Voltar a tela aos clientes</a></p>
    </div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="contato : ${contatos}">
                <td th:text="${contato.id}"></td>
                <td th:text="${contato.tipo}"></td>
                <td th:text="${contato.descricao}"></td>
        </tbody>
    </table>
</main>

</body>
</html>