<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Contatos</title>
</head>
<body>

<h1>Novo Contato</h1>

<form action="#" th:action="@{/contato/novo}" th:object="${contato}" method="post">
    <label>Descrição</label><br />
    <input type="text" th:field="*{descricao}" /><br /><br />
    <label>Tipo</label><br />
    <select name="tipo" th:field="*{tipo}">
        <option value="Telefone">Telefone</option>
        <option value="E-mail">E-mail</option>
        <option value="Endereço">Endereço</option>
    </select><br /><br/>
    <label>Aluno</label><br />
    <select th:field="*{idAluno}">
        <option th:each="aluno: ${alunos}"
                th:value="${aluno.id}"
                th:text="${aluno.nome}">
    </select><br/><br/>
    <input type="submit" value="Salvar" />
</form>

</body>
</html>